* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.title {
  color: #fff;
  font-size: 35px;
  padding-bottom: 20px;
}

/* end common css  */

/* Start header */
header {
  height: 100px;
  background-color: cadetblue;
}

nav .logo {
  color: #000;
  font-size: 25px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all ease 0.3s;
}

nav ul li:hover {
  color: black;
}

/* End header */

/* Start herro */
.herro {
  background: url(images/herro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  position: relative;
  z-index: 1;
}

.herro::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.herro .text-p {
  color: #fff;
  max-width: 600px;
  font-size: 18px;
  font-weight: 400;
}

.herro .icon {
  display: flex;
  margin-top: 50px;
}

.herro .icon span {
  color: #fff;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 10px;
  background-color: goldenrod;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease;
}

.herro .icon span:hover {
  color: #000;
  background-color: #fff;
}

/* End herro */